@import "../../../styles/colors";
@import "../../../styles/display";

.top-navigation {
  background-color: white;
  border-bottom: 1px solid $gainsboro;
  display: flex;
  position: relative;

  ul.menu-link-list {
    list-style: none;

    li.menu-link-item {
      display: inline;

      a {
        &:hover {
          border-bottom: 0.2rem solid;
        }
      }
    }
  }

  li.menu-link-item a, .logo {
    display: inline-block;
    color: $black;
    font-size: 0.875rem;
    padding: 1.45rem 1.0875rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
