@import "../../../styles/colors";

$component-id: burger-menu;

.#{$component-id} {

  &.closed {
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);

    .#{$component-id}-icon span {
      background: $black;
      display: block;
      height: 3px;
      margin-bottom: 5px;
      position: relative;
      width: 23px;
      z-index: 1;
    }
  }

  &.open {
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 1;

    a {
      color: $black;
      display: block;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      padding: 2rem 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.3s linear;
    }

    .#{$component-id}-icon {
      padding: 0.5rem;

      span {
        background: $black;
        height: 3px;
        margin: 0px;
        position: absolute;
        right: 4%;
        top: 3%;
        width: 30px;
        z-index: 1;

        &:first-of-type {
          transform: rotate(-45deg);
        }

        &:last-of-type {
          transform: rotate(45deg);
        }
      }
    }
  }
}
