@import "../styles/breadcrumb";

$page-id: thoughts-on-programming-detail-page;

.#{$page-id} {
  .thought-title {
    small {
      font-size: 50%;
    }
  }

  .thought {
    margin-bottom: 3rem;

    img {
      width: 100%;
    }

    figcaption {
      display: none;
    }
  }

  .prev-next-navigation {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;

    .prev {
      margin-right: auto;

    }
  }
}