.hero-content {
  h1.title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    letter-spacing: -0.185rem;

    @media (max-width: 768px) {
      font-size: 1.95rem;
      letter-spacing: 0.005rem;
    }
  }

  p {
    font-family: "J_ Medium";
    font-size: 1.15rem;
    margin-bottom: 2.5rem;
    width: 85%;

    @media (max-width: 768px) {
      font-size: 1rem;
      width: 100%;
    }
  }
}

.hero-image {
  background-position: center center;
  background-size: cover;
  height: 750px;
  margin: -11.5rem -12rem;
  position: relative;
  width: 750px;
  z-index: -99;

  @media (max-width: 768px) {
    background-position: 18% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin: -17rem auto;
    position: absolute;
    right: 0;
    width: 225px;
  }
}

.hero-wrapper {
  margin-top: 5rem;
  margin-bottom: -3rem;

  @media (max-width: 768px) {
    margin: 3rem 2rem 3rem 2rem;
  }
}
