@import "../../styles/breakpoint";
@import "../../styles/mixin";

$component-id: hero-wrapper;

.#{$component-id} {
  margin: 3rem auto;
  max-width: $content-max-width;

  .hero-teaser {
    margin: 0 5rem 2rem 1rem;

    @include md {
      margin: 0 15rem 2rem 0;
    }

    @include lg {
      margin: 0 15rem 2rem 0;
    }

    @include xl {
      margin: 0 15rem 2rem 0;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 1.5rem;
      letter-spacing: -0.185rem;

      @media (max-width: 768px) {
        font-size: 1.95rem;
        letter-spacing: 0.005rem;
      }
    }

    p {
      font-family: "J_ Medium", "Arial", "Sans-Serif", serif;
      font-size: 1.15rem;
      margin-bottom: 2.5rem;
      width: 60%;

      @media (max-width: 768px) {
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  .hero-content {
    background-color: #f2f2f2;
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding: 3rem 2rem 2rem;
    position: relative;
    z-index: -1;

    @include md {
      padding: 3rem 15rem 2rem 3rem;
      margin-bottom: 6rem;
      margin-top: 5rem;
    }
  }

  .hero-inner {
    overflow: hidden;
    position: relative;

    @include lg {
      overflow: visible;
    }
  }

  .hero-image {
    display: block;
    position: absolute;
    right: -2rem;
    width: 260px;

    @include md {
      width: 440px;
    }

    @include lg {
      width: 480px;
    }
  }
}