.hero-content {
  margin-top: 5rem;

  h1.title {
    margin-bottom: 1.5rem;
    letter-spacing: -0.185rem;
  }

  p {
    font-family: "J_ Medium";
    font-size: 1.15rem;
    margin-bottom: 2.5rem;
    width: 85%;
  }
}

.hero-image {
  background-position: center center;
  background-size: cover;
  height: 750px;
  margin: -11.5rem -11rem;
  position: relative;
  width: 750px;
  z-index: -99;
}
