// swatch
$purple: rgb(217, 24, 130); // Medium Violet Red
$violet: rgb(175, 75, 242); // Medium Slate Blue
$turquoise: rgb(12, 219, 242); // Bright Turquoise
$indigo: rgb(35, 10, 89); // Persian Indigo
$tacao: rgb(242, 182, 128); // Tacao
$crusta: rgb(242, 100, 68); // Crusta

$black: rgb(13, 13, 13);
$gainsboro: rgb(227, 227, 227);
$darkgray: rgb(167, 167, 167);
$white: rgb(255, 255, 255);
