@import "./breakpoint";

.visible-lg {
  display: none !important;
}

.visible-md {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.visible-xs {
  display: none !important;
}

@media (max-width: $screen-md-min) {
  .visible-xs {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: $screen-md-min) {
  .visible-sm {
    display: block !important;
  }
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: $screen-lg-min) {
  .visible-md {
    display: block !important;
  }
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: $screen-xl-min) {
  .visible-lg {
    display: block !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
