@font-face {
  font-family: 'J_ Black';
  src: url('../fonts/j_/J_black.eot');

  /* IE9 Compat Modes */
  src: url('../fonts/j_/J_black.eot?#iefix') format("embedded-opentype"),
  url('../fonts/j_/J_black.woff2') format("woff2"),
  url('../fonts/j_/J_black.woff') format("woff"),
  url('../fonts/j_/J_black.ttf') format("truetype");
}

$fontBlack: "J_ Black", "Arial Black", "Sans-Serif";

@font-face {
  font-family: 'J_ Medium';
  src: url('../fonts/j_/J_medium.eot');

  /* IE9 Compat Modes */
  src: url('../fonts/j_/J_medium.eot?#iefix') format("embedded-opentype"),
  url('../fonts/j_/J_medium.woff') format("woff"),
  url('../fonts/j_/J_medium.ttf') format("truetype"),
  url('../fonts/j_/J_medium.svg#svgFontName') format("svg");
}

$fontMedium: "J_ Medium", "Arial Black", "Sans-Serif";

@font-face {
  font-family: 'J_ Regular';
  src: url('../fonts/j_/J_regular.eot');

  /* IE9 Compat Modes */
  src: url('../fonts/j_/J_regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/j_/J_regular.woff') format("woff"),
  url('../fonts/j_/J_regular.ttf') format("truetype"),
  url('../fonts/j_/J_regular.svg#svgFontName') format("svg");
}

$fontRegular: "J_ Regular", "Arial", "Sans-Serif"
