.top-minus-3-rem {
  top: -3rem;
}

.top-minus-3h-rem {
  top: -3.5rem;
}

.top-minus-4-rem {
  top: -4rem;
}

.top-minus-4h-rem {
  top: -4.5rem;
}

.top-minus-5-rem {
  top: -5rem;
}

.z-minus-100 {
  z-index: -100;
}

.z-plus-100 {
  z-index: 100;
}