@import "../../styles/colors";
@import "../../styles/mixin";

.card {
  border-bottom-color: $gainsboro;
  border-bottom-width: 1px;
  border-left-color: $gainsboro;
  border-left-width: 1px;
  border-right-color: $gainsboro;
  border-right-width: 1px;
  border-style: solid;
  border-top-color: $violet;
  border-top-width: 2px;
  margin-bottom: 2rem;
  margin-right: 1rem;

  .card-content {
    color: $darkgray;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }

  .card-description {
    font-size: 90%;
    margin-bottom: 1rem;

    address {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .card-map {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 250px;
    width: 100%;

    &.map-barcelona {
      background-image: url("/map/barcelona.png");
    }

    &.map-berlin {
      background-image: url("/map/berlin.png");
    }

    &.map-london {
      background-image: url("/map/london.png");
    }

    &.map-andorra-la-vella {
      background-image: url("/map/andorra-la-vella.png");
    }

    &.map-canillo {
      background-image: url("/map/canillo.png");
    }
  }

  .card-enumeration {
    background-color: $violet;
    color: $white;
    display: inline-block;
    left: -1px;
    position: relative;
    top: -1px;

    span {
      align-items: center;
      display: flex;
      font-size: x-large;
      height: 40px;
      justify-content: center;
      padding: .45rem;
      position: relative;
      width: 40px;
    }
  }

  .card-header {
    position: relative;
    margin-bottom: 0.65rem;

    .card-title {
      font-size: 1.3625rem;
      line-height: 1.4em;
      padding-right: 3.5rem;
    }

    .card-arrow {
      background-color: $gainsboro;
      height: 45px;
      margin-right: -36px;
      position: absolute;
      right: 0;
      top: 0;
      width: 86px;

      &:after {
        border-right: .69rem solid transparent;
        border-top: .5rem solid;
        bottom: -.5rem;
        content: "";
        margin-left: 4.67rem;
        position: absolute;
      }

      a {
        color: $black;
        display: block;
        font-size: 2.5rem;
        left: 1.5rem;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 0.3rem;
      }
    }
  }
}

.technology-card {
  height: 100px;
  width: 100px;

  @include md {
    height: 137.15px;
    width: 137.15px;
  }

  div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    height: 70px;
    margin: 0px auto;
    opacity: 0.7;
    position: relative;
    top: 25px;
    width: 70px;

    @include md {
      height: 87.15px;
      width: 87.15px;
    }
  }

  @include md {
    height: 137.15px;
    width: 137.15px;
  }
}