@import "../styles/colors";
@import "../styles/grid.css";
@import "../styles/reset";
@import "../styles/third_party";
@import "../styles/typography";

body {
  font-family: $fontRegular;
}

a {
  font-family: $fontMedium;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  display: block;
  font-family: $fontBlack;
}

h1 {
  font-size: 3.5rem;
  line-height: 1em;
  margin-bottom: 1.83rem;
  margin-top: 1.83rem;
}

h2 {
  font-size: 1.5625rem;
  line-height: 1.2rem;
  margin-bottom: 1.83rem;
  margin-top: 0.83rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.6rem;
  line-height: 1.6em;
}

section {
  margin-bottom: 5rem;

  @media (max-width: 768px) {
    margin: 1rem 1rem 3rem 2rem;
  }

  &.grey {
    background-color: #f2f2f2;
    position: relative;
    z-index: -100;
    padding: 3rem 6rem 2rem 3rem;

    @media (max-width: 768px) {
      margin: 0;
      padding: 3rem 2rem 2rem;
    }
  }

  .section-title {
    font-size: 3rem;
    line-height: 2.7rem;

    @media (max-width: 768px) {
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }
}

main {
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
  width: 100%;

  @media (max-width: 768px) {
    margin: 0 auto;
    padding: 0;
  }

  strong {
    font-family: $fontMedium;
  }

  table {
    background-color: transparent;
    margin-top: 0.6rem;
    margin-bottom: 1.8rem;
    width: 100%;

    tr {
      border-bottom: 1px solid $gainsboro;
    }

    td, th {
      font-size: 92%;
      line-height: 1.6em;
      padding-bottom: 0.9rem;
      padding-top: 0.45rem;
      text-align: left;
    }

    th[scope="row"] {
      font-family: $fontMedium;
      padding-right: 2.5rem;
      text-transform: uppercase;
    }

    td {
      padding-right: 0.3rem;
    }
  }

  ul, ol {
    list-style-position: outside;
    margin-block-end: 1.4rem;
    margin-block-start: 0.5rem;
    padding-inline-start: 2rem;

    li {
      font-size: 98%;
      line-height: 1.4em;
      margin-bottom: 0.2rem;
    }
  }

  ol {
    list-style-type: decimal;

    &.alpha {
      list-style-type: lower-alpha;
    }
  }
}
